body{
    font-family: 'Noto Sans', sans-serif;
    background-image: url(/images/bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}